<div class="padded-table">
<%= form_for :item_request, url: update_item_requests_path, method: :patch do |f| %>
  <table class="table table-borderless">
    <thead>
      <tr>
        <th>#</th>
        <th>Uploaded</th>
        <th>Status</th>
        <th>Requesters</th>
        <th>Approve</th>
      </tr>
    </thead>
    <tbody>
      <% @items.each do |item| %>
      <tr>

        <th scope="row"><%= item.id %></th>
        <td><%= link_to item.title, item_path(item) %></td>


        <% if item.item_requests.any? %>
          <% if item.item_requests.find_by(approved: true) %>
            <td>Approved</td>
          <% else %>
            <td>Requested</td>
          <% end %>



          <td>

            <!-- Find if any item_requests have been approved -->
            <% if item.item_requests.any? { |r| r.approved } %>
              <!-- If there are, find that record and only show that one so that you can't approve multiple -->
              <%= item.item_requests.where(approved: true).first.user.username %>
              <%= f.hidden_field :user_id, value: item.item_requests.where(approved: true).first.user.id %>
            <% else %>
              <!-- If none are approved, choose which you would like to approve -->
              <%= f.select :user_id, item.requesters.map { |requester| [requester.username, requester.id] }, class: 'form-control' %>
            <% end %>
            <%= f.hidden_field :item_id, value: item.id %>
          </td>

          <td>
            <% if item.item_requests.any? { |r| r.approved } %>
              <%= f.submit 'Disapprove', class: 'btn btn-danger' %>
            <% else %>
              <%= f.submit 'Approve', class: 'btn btn-success' %>
            <% end %>
          </td>

      <% else %>
      <td>Posted</td>
      <% end %> <!-- end if statement -->
    </tr>
    <% end %> <!-- end loop -->
  </tbody>
</table>
<% end %> <!-- end form -->
</div>



