<div class="row">
  <div class="col-xs-6">
    <% if current_user.is_informant? %>
    <%= image_tag('hacker-dog.jpg', class: 'avatar img-responsive') %>
    <% else %>
    <%= image_tag('journalist-dog.jpg', class: 'avatar img-responsive') %>
    <% end %>
  </div>

  <div class="col-xs-6">
    <h1><%= current_user.username %></h1>
    <h4>Bio</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus amet minima assumenda, aliquid sapiente qui impedit dignissimos ad vel nostrum quidem itaque, enim reiciendis ipsum! Praesentium dolorum, et exercitationem atque!</p>
    <%= link_to 'Edit', root_path, class: 'btn btn-primary' %>
  </div>
</div>

<% if current_user.is_informant? %>
<div class="row">
  <div class="col-xs-12">
    <h1>New Item</h1>
    <%= render 'form' %>
  </div>
</div>
<% end %>
<br>
<% if current_user.is_informant? %>
<%= render 'partials/informant-table' %>
<% else %>
<%= render 'partials/journalist-table' %>
<% end %>
