<div class="row profile">
  <div class="col-xs-6">
    <% if current_user.is_informant? %>
    <%= image_tag('hacker-dog.jpg', class: 'avatar img-responsive img-rounded') %>
    <% else %>
    <%= image_tag('journalist-dog.jpg', class: 'avatar img-responsive img-rounded') %>
    <% end %>

    <h1><%= current_user.username %></h1>
    <p>Render profile information here</p>
    <%= link_to 'Edit', root_path, class: 'btn btn-primary' %>
  </div>

  <div class="col-xs-6">
    <% if current_user.is_informant? %>
      <%= render 'form' %>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <%= render 'partials/informant_table' %>
    </div>
  </div>
  </div>
  <% else %>
    <div class="row">
      <div class="col-xs-12">
        <%= render 'partials/journalist_table' %>
      </div>
    </div>
  <% end %>



