<div class="row profile">
  <% if current_user.is_informant %>
    <h1 class="text-center">Welcome, <%= current_user.username %></h1>
  <% else %>
    <h1 class="text-center">Welcome, <%= current_user.username %></h1>
  <% end %>

  <div class="col-xs-6 col-xs-offset-3">
    <% if current_user.is_informant? %>
      <%= render 'form' %>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <%= render 'partials/informant_table' %>
    </div>
  </div>
  </div>
  <% else %>
    <div class="row">
      <div class="col-xs-12">
        <%= render 'partials/journalist_table' %>
      </div>
    </div>
  <% end %>



