
<%= image_tag @item.image.url(:medium) %>
<br>
<a href="<%= asset_path @item.image.url %>" download>Download HTML</a>
<h1><%= @item.title %></h1>
<p><%= @item.description %></p>
<p><%= @item.user.username %></p>


<%= link_to 'Home', root_path %>
<%= link_to 'Edit', edit_item_path(@item) %>
<%= link_to 'Delete', item_path(@item), method: :delete, data: { confirm: 'Are you sure? '} %>
