<div class="jumbotron">
  <div class="row">
    <%= link_to icon('times'), items_path, class: 'close-btn' %>
  </div>

  <div class="row">

    <% if @item.item_requests.find_by(user_id: current_user.id, approved: true) && @item.document.content_type == ("image/jpeg" || "image/png" || "image/svg" || "image/gif") %>
      <%= image_tag @item.document.url, class: 'img-responsive' %>
      <% if @item.document.content_type != "image/jpeg" %>
        <p><%= @item.document.original_filename %></p>
      <% end %>
      <br>
      <a href="<%= asset_path @item.document.url %>" class="btn btn-filled btn-primary" download>Download</a>
    <% else %>
      <p><%= @item.document.original_filename %></p>
      <% if !current_user.is_informant %>
        <%= link_to 'Request', request_item_path(@item), method: :put, class: 'btn btn-primary btn-xs btn-info' %>
      <% end %>
    <% end %>

    <h1><%= @item.title %></h1>
    <p><%= @item.description %></p>
    <p>Uploaded by: <b><%= @item.user.username %></b></p>
    <p><%= @item.created_at.to_date %></p>


    <% if @item.user == current_user %>
      <%= link_to 'Edit', edit_item_path(@item), class: 'btn btn-filled btn-primary btn-xs' %>
      <%= link_to 'Delete', item_path(@item), method: :delete, data: { confirm: 'Are you sure? '}, class: 'btn btn-primary btn-xs btn-danger' %>
    <% end %>
</div>

